In [1]:
import os
from zipfile import ZipFile
from pathlib import Path
from scipy.io.arff import loadarff
import pandas as pd

In [2]:
%pwd

'd:\\Python\\MLProjectsPW\\EEG_EYE\\research'

In [3]:
zip_file_path = Path(os.path.join(os.getcwd(),"data",'eeg+eye+state.zip'))

In [4]:
with ZipFile(zip_file_path , "r") as obj:
    obj.extractall(os.path.dirname(zip_file_path))

In [5]:
data_file_path = Path(os.path.join(os.getcwd(),'data', 'EEG Eye State.arff'))

In [6]:
df = pd.DataFrame(loadarff(data_file_path)[0])

In [7]:
df.head()

,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,eyeDetection
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,b'0'
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,b'0'
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,b'0'
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,b'0'
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,b'0'

In [8]:
df['eyeDetection'] = df['eyeDetection'].astype("int8")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14980 entries, 0 to 14979
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AF3           14980 non-null  float64
 1   F7            14980 non-null  float64
 2   F3            14980 non-null  float64
 3   FC5           14980 non-null  float64
 4   T7            14980 non-null  float64
 5   P7            14980 non-null  float64
 6   O1            14980 non-null  float64
 7   O2            14980 non-null  float64
 8   P8            14980 non-null  float64
 9   T8            14980 non-null  float64
 10  FC6           14980 non-null  float64
 11  F4            14980 non-null  float64
 12  F8            14980 non-null  float64
 13  AF4           14980 non-null  float64
 14  eyeDetection  14980 non-null  int8
dtypes: float64(14), int8(1)
memory usage: 1.6 MB

In [10]:
df.eyeDetection.value_counts()

0    8257
1    6723
Name: eyeDetection, dtype: int64

In [11]:
from pycaret.classification import *
s = setup(df , target = "eyeDetection" , session_id = 123)

In [12]:
best = compare_models()

In [13]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [14]:
preds = predict_model(best)

In [15]:
preds

,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,eyeDetection,prediction_label,prediction_score
14325,4348.720215,3989.739990,4273.330078,4106.149902,4332.310059,4605.640137,4058.459961,4594.359863,4197.439941,4229.229980,4230.259766,4290.770020,4669.740234,4425.129883,0,0,1.0
5013,4314.359863,4018.969971,4260.000000,4105.129883,4348.209961,4629.229980,4083.590088,4627.689941,4225.640137,4258.459961,4227.180176,4290.770020,4629.740234,4383.589844,0,0,0.8
10788,4364.100098,4072.310059,4332.819824,4187.689941,4395.899902,4688.720215,4115.379883,4670.770020,4248.720215,4290.770020,4267.689941,4336.410156,4668.720215,4420.509766,0,0,1.0
10277,4294.359863,4016.409912,4256.919922,4108.720215,4332.310059,4628.720215,4056.409912,4621.540039,4202.049805,4225.640137,4196.410156,4273.850098,4596.919922,4342.049805,0,0,1.0
4086,4269.740234,3996.919922,4243.080078,4114.359863,4324.100098,4615.899902,4043.080078,4607.180176,4183.080078,4204.620117,4173.850098,4252.819824,4589.229980,4326.149902,1,1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,4312.819824,3906.149902,4247.180176,4058.969971,4316.410156,4602.560059,4101.029785,4649.229980,4238.459961,4278.459961,4286.669922,4328.209961,4733.330078,4437.439941,1,1,1.0
6718,4337.439941,3995.379883,4282.049805,4124.100098,4322.049805,4605.129883,4058.459961,4617.439941,4192.310059,4224.620117,4200.000000,4287.689941,4602.560059,4393.850098,1,1,0.8
13512,4262.049805,3990.770020,4231.279785,4111.279785,4331.790039,4613.850098,4043.590088,4591.279785,4171.279785,4195.379883,4171.790039,4246.669922,4576.410156,4316.919922,0,0,1.0
7513,4318.459961,4025.129883,4279.490234,4133.850098,4345.640137,4625.640137,4074.870117,4624.620117,4212.819824,4245.129883,4214.870117,4287.689941,4622.049805,4376.919922,1,1,1.0
4295,4304.100098,4006.149902,4270.259766,4121.029785,4341.540039,4618.970215,4065.129883,4609.229980,4197.950195,4226.669922,4186.669922,4278.970215,4592.819824,4356.919922,1,1,0.8