In [13]:
import os
from zipfile import ZipFile
from pathlib import Path
from scipy.io.arff import loadarff
import pandas as pd

In [2]:
%pwd

'd:\\Python\\MLProjectsPW\\EEG_EYE\\research'

In [3]:
zip_file_path = Path(os.path.join(os.getcwd(),"data",'eeg+eye+state.zip'))

In [4]:
with ZipFile(zip_file_path , "r") as obj:
    obj.extractall(os.path.dirname(zip_file_path))

In [7]:
data_file_path = Path(os.path.join(os.getcwd(),'data', 'EEG Eye State.arff'))

In [15]:
df = pd.DataFrame(loadarff(data_file_path)[0])

In [17]:
df.head()

,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,eyeDetection
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,b'0'
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,b'0'
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,b'0'
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,b'0'
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,b'0'

In [29]:
df['eyeDetection'] = df['eyeDetection'].astype("int8")

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14980 entries, 0 to 14979
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AF3           14980 non-null  float64
 1   F7            14980 non-null  float64
 2   F3            14980 non-null  float64
 3   FC5           14980 non-null  float64
 4   T7            14980 non-null  float64
 5   P7            14980 non-null  float64
 6   O1            14980 non-null  float64
 7   O2            14980 non-null  float64
 8   P8            14980 non-null  float64
 9   T8            14980 non-null  float64
 10  FC6           14980 non-null  float64
 11  F4            14980 non-null  float64
 12  F8            14980 non-null  float64
 13  AF4           14980 non-null  float64
 14  eyeDetection  14980 non-null  int8
dtypes: float64(14), int8(1)
memory usage: 1.6 MB